{% if list is defined and list is not empty %}

<table border=1 >
<tr>
<td> Id </td>
<td> Title </td>
<td> Publication Date </td>
<td> Enabled </td>
<td> Author </td>
<td> Category </td>
<td> Reference </td>
<td> Details </td>
</tr>
{% for lists in list %}
<tr>
 <td> {{ lists.id }}</td>
 <td> {{ lists.title | capitalize }}</td>
 <td> {{ lists.publicationDate | date('d/m/Y') }}</td>
 <td> {{ lists.enabled }}</td>
 <td> {{ lists.author.Username }}</td> 
 <td> {{ lists.category }}</td>
 <td> {{ lists.ref }}</td> 
 <td> 
    <a href="{{ path('edit_book', { 'id': lists.id }) }}">Edit</a>
    <a href="{{ path('show_book', { 'id': lists.id }) }}">Details</a>
    <a href="{{ path('delete_book', { 'id': lists.id }) }}">Delete</a>
</td>
</tr>
{% endfor %}
</table>
{% else %}
<h1>Authors is empty</h1>
{% endif %}